@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
* {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Montserrat, "Noto Sans KR", sans-serif;
}
.top{
    width: 100vw;
    margin: 0 auto;
    display: flex;
}
.top .topmenu{
    display: flex;
    height: 60px;
}
.top .topmenu .left{
    display: flex;
    align-items: center;
}
.top .topmenu .left .lang{
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}
.top .topmenu .left .lang span{
    font-size: 11px;
}
.top .topmenu .left .sns{
    display: flex;
    align-items: center;
}
.top .topmenu .right-m{
    display: flex;
    justify-content: flex-end;
}
.top .topmenu .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}